html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    padding-top: 1%;
    min-height: 90px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.branding {
    float: left;
}

nav {
    float: right;
}

.navbar {
    margin-top: 15%;
}

.navbar li {
    display: inline-block;
    padding: 0 5px;
}

.navbar li a {
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
}

:root {
  --board-size: 3;
  --board-size-frames: 3fr;
}

.play-area {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 9fr 1fr 1fr;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    grid-column: 2;
    display: grid;
    justify-content: center;
    align-content: center;
    border: 2px solid blue;
    grid-template-columns: repeat(var(--board-size), 175px);
    grid-auto-rows: 175px;
}

.box {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(var(--board-size), var(--board-size-frames));
    grid-auto-rows: var(--board-size-frames);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
}

.writeInsTable {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    grid-template-columns: repeat(var(--board-size), var(--board-size-frames));
    grid-auto-rows: var(--board-size-frames);
}

.starter {
    font-size: xx-large;
    background-color: lightgray;
}

.answer {
    position: absolute;
    place-self: center;
    font-size: xx-large;
}

.write-in {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.selected {
    background-color: gold;
}

.answer-button-selected {
    background-color: lightblue;
}

.highlighted {
    background-color: yellow;
}

.preventingCell {
    animation: redFade 1s forwards;
}

@keyframes redFade {
  0% {
    background-color: red;
  }
}

.answerButtons {
    grid-column: 3;
    border: 2px solid red;
    display: flex; /* Make the section a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center;
    flex-direction: column;
}

.optionButtons {
    grid-column: 4;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.option-button {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 3;
    border-radius: 14%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.option-button-content {
    position: absolute;
    place-self: center;
    font-weight: bold;
    font-size: xx-large;
}

.option-button-count {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: small;
}