:root {
  --board-size: 3;
  --board-size-frames: 3fr;
  --primary-color: black;
  --text-color: #64C2EC;
  --extra-color-1: #B8F5FF;
  --extra-color-2: #277CA5;
  --extra-color-3: #113547;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p, h1, h2, h3, h4, h5 {
    color: var(--text-color);
}

body {
    height: 100vh;
    background: var(--primary-color);
    display: grid;
    justify-items: center;
    align-content: center;
}

footer {
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    width: 100vw;
    bottom: 0;
    /* box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

section p {
    width: 90%;
}

.container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.contract-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    justify-content: left;
    padding: 2rem 1rem;
}

.contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.contact-description {
    color: var(--extra-color-1);
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 1.75rem;
    width: auto;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
    color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}

.form-textarea {
    min-height: 120px;
}

.form-submit {
    width: 15em;
    /* margin-top: 1.2rem; */
    background-color: var(--extra-color-2);
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 815px) {
    .contract-container {
        width: 80%;
    }

    .contract-container {
        margin-bottom: 5em;
    }
}